/*
 * Use this CSS to learn some intersting techniques,
 * in case you're wondering how I built the UI.
 * Have fun! 😁
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  height: 80vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:15px 30px;
  background: rgba(26 50 74 / 73%);
}

.welcome {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.logo {
  height: 5.25rem;
  display: flex;
  gap: 3px;
}

.login {
  display: flex;
}
.open-account, .arrow-btn{
  border: none;
  outline: none;
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 5px 5px 14px -10px;
  margin-right: 10px;
  border: 1px solid yellow;
}
.open-account:hover{
  background:#ececec;
  cursor: pointer;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000;
  background:black;
  opacity:.7;
  height: 100vh !important;
  display:none;
}
.overlay-add{
  display:block;
}
.account-form{
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width:0;
  height: 0;
  min-height:0;
  overflow:hidden;
  background:#f3f3f3;
  border-radius: 10px;
  z-index: 100000000000;
  transition: .5s;
}
.account-form label{
  font-weight: bold;
}
.account-form input::placeholder{
  color: #d8d8d8;
}
.account-form-active{
  width:50%;
  min-height:45vh;
  padding:10px;
  height: initial;
}
.form_close-btn{
  position: absolute;
  top: 0;
  right:0;
  font-size: 2rem;
  padding:5px ;
  cursor: pointer;
}
.new-acc-form{
  width:90%;
  margin: auto;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}
.new-acc-form input{
  width:230px;
}
.input-row{
  width: 100%;
  display:grid;
  grid-template-columns:1.5fr 3fr;
  margin: 20px 0;
  align-items: center;
}
.input-row input{
  /* flex:1.5; */
  width: 100%;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
  color: black;
  text-transform: capitalize;
}
.input-row input:focus {
  outline: none;
  border: 1px solid #ccc;
}
.input-row input[type="number"]::-webkit-outer-spin-button,
.input-row input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.create-account-btn{
  border: none;
  outline: none;
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 5px 5px 14px -10px;
  width:200px;
  display: block;
  margin: 40px auto 10px auto;
  cursor: pointer;
  transition:.3s;
}
.create-account-btn:hover{
  background: #f1f1f1;
}
.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid yellow;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}
.btn--sort{
  color: #777;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}
.msg{
  width: 50%;
  position:fixed;
  top: 0;
  left:50%;
  transform: translate(-50%,0);
  transition: all .3s;
  font-size: 2rem;
  text-align: center;
  overflow:hidden;
  height: 0;
  border-radius: 12px;
  font-weight: bold;
}
.msg_active{
  padding:10px;
  height:auto;
   z-index: 100000000;
}
/* MAIN */
.app {
  position: relative;
  max-width: 120rem;
  margin: 4rem auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  /* NOTE This creates the fade in/out anumation */
  opacity: 0;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: auto;
}
.movements::-webkit-scrollbar{
  appearance: none;
  width: 15px;
  border-radius: 10px;
  background:#ffbb29;
}
.movements::-webkit-scrollbar-thumb{
  background:#57ddaa;
  border-radius: 10px;
  transition: all 0.3s;
}
.movements::-webkit-scrollbar-thumb:hover{
  background:#44ca97;
  border-radius: 10px;
}


.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}
#logo i {
  font-size: 30px !important;
  color: #fff;
}

.timer{
    font-weight: 600;
    padding: 5px;
    background:#f5465d;
    border-radius: 10px;
    color: white;
    width: 100px;
    display: inline-block;
    text-align: center;
    font-size: 1.8rem;
}
@media only screen and (max-width:800px) {
  html{
    font-size:8px;
  }
  nav{
    flex-direction: column;
  }
  .app{
    display:flex;
    flex-direction: column;
  }
  .operation{
    order: -1;
  }
  .balance{
    order: -2;
  }
  .summary{
    flex-direction: column;
    align-items: center;
  }
  .btn--sort{
    order: -1;
  }
  .movements{
    max-height: 480px;
  }
  .movements::-webkit-scrollbar{
    width:8px;
  }
  .msg{
    width:85%;
  }
  .logout-timer{
    position:fixed;
    bottom:5px;
    right: 5px;
    background:#f5465d;
    padding: 5px;
    border-radius: 8px;
    color:#fff;
    display:flex;
    flex-direction: column;
  }
  .account-form-active{
  width:95%;
  min-height:40vh;
  padding:10px;
}
}

.userDetails{
  position:fixed;
  bottom:30px;
  right:30px;
  display:flex;
  flex-direction: column;
  z-index: 1000000;
}
.details{
  font-size: 1.5rem;
  width:200px;
  height: 0;
  transition: all .3s;
  overflow:hidden;
  background:#f5465d;
  color:white;
  text-align: center;
  border-radius: 8px 8px 0 0;
}
.details_active{
  padding:15px;
  border: 2px solid #66c873;
  height:auto;
}
.loginD{
  padding:10px 20px;
  background:#66c873;
  border-radius:0 0 8px 8px;
  border:none;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
}
.loginD:hover{
  background:#13ee4a;
  transition:none;
}